.home {
    display: flex;
    align-items: center;
    justify-content: center;
}

.eye {
    width: 128px;
    text-align: center;
    &>* {
        display: flex;
        align-items: center;
    }
    /*position: absolute;*/
    /*left: 50%;*/
    /*top: 50%;*/
    /*transform: translate(-50%, -50%);*/
}